<script type="text/javascript">
$(document).ready(function() {
    showFavorites();
});
/**
var fav = new Object();
fav.Id = 'a00E0000003L0ViIAK';
fav.Name = "Eagle West";
fav.Location__c = "Ft Campbell";
addFav(fav);
**/
</script>

<div data-role="header">
    <h1>Favorites</h1>
    <%= link_to 'Back', facilities_path, { "data-icon"  => "back", "class" => "ui-btn-left" } %> 
</div>

<div data-role="content">
</div>